* {
    box-sizing: border-box;
}



main h1 {
    font-size: 25px;
    color: #37364e;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card_div {
    box-shadow:  0 0 10px #68677e;
    padding-top: 20px;
}

.image_add_card img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.name {
    width: 400px;
}

.model {
    width: 80px;
}

.add_and_delete {
    width: 150px;
    /* font-size: xx-large; */
    align-items:center;
}


.card_price {
    width: 230px;
    text-align: right;
}

.total {
    width: 230px;
    text-align: right;
    font-weight: bold;
}

.card_products button {
    border:none;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
}

.delete2 {
    background:red;
    
    

}

.delete2 i {
    color:aliceblue;
}

.counter {
    width: 30px;
    height: 32px;
}

.free_delivery {
    width: 1150px;
    height: 50px;
    background:rgb(193, 238, 193);
    margin: 50px 25px;
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color:#19471f;
    
}

.itog {
    margin-left: 1000px;
    line-height: 30px;
}

.zakaz button{
    margin: 30px 0 40px 975px;
    background:rgb(0, 179, 0);
    color:aliceblue;
    width: 200px;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.zakaz button:hover {
    background:rgb(39, 189, 39);

}