@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body, p {
    margin: 0;
}

a{
    text-decoration: none;
    cursor:pointer;
}

.right {
    float: right
}
.left {
    float: left;
}
.bold {
    font-weight: bold;
}

.green{
    color:#0ab313;
}

.ul_li, li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.container {
    width:  1200px;
    margin: 0 auto;
}

.verhnee_menu {
    background: #0ab313;
    display: inline-block;
    width: 100%;
    height: 40px;
}
.verhnee_menu i{
    font-size: small;
}

.hover_menu li:hover .verh_dropdown {
    display: block;
    
}


.verh_dropdown {
    display: none;
    position: absolute;
    top: 42px;
    width: 321px;
    height: 31px;
    padding: 5px 10px;
    border: 1px solid green;
    background: white;
    color:#4c4b6c;
    font-size: 13px;
    box-shadow:  0 0 10px #4c4b6c;
}

.b-r li {
    border-left: 1px solid #dadada;
    height: 40px;
}

.b-r1 li {
    border-left: 1px solid #dadada;
    height: 40px;
}



.b-r li:first-child {
    border-left: 0;
}

.time {
    margin-left: 20px;
    
}

.verhnee_menu li {
    position: relative;
    padding-top: 8px;
    padding-left: 10px;
    color:aliceblue;
}



/* Центральное меню */
.center_menu .ul_li {
    width: 100%;
}


/* Поисковик */
.search_form {
    display:inline-flex;
    padding: 0px 20px;
    margin-right: 50px;
    margin-top: 46px;
    margin-left: 98px;
    justify-content: space-between;
    align-items:center;
    height: 40px;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
}


.search_form {
    border: 1px solid rgb(231, 133, 22);
    align-items:center;
}
.search_form_txt{
    border: none;
    width: 250px;
    outline: none;
    font-size: 15px;
    padding-right: 10px;
    background-color: white;
    margin-right: 20px;
    margin-top: 0px;
    

}

.search_btn {
    height: 35px;
    width: 40px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.search_btn i{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: white;
    cursor: pointer;
    color:#676594;
}

.logo {
    margin-top: 20px;
}

.info {
    display: flex;
    margin-top: 48px;
}

.info i {
    font-size: xx-large;
    color:#737573;
    margin: 0 12px 0 12px;
}

.icon_msg {
    position: relative;
}

.msg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 39px;
    top: -23px;
    background: rgb(238, 80, 80);
    color:aliceblue;
    font-size: small;
    border-radius: 25px;
    text-align: center;
    align-items: center;
}

/* Нижнее меню */

.nijnee_menu {
    background-color: #0ab313;
    height: 48px;
    color:aliceblue;
    font-size: 18px;
}



.list {
    text-align: center;
    position: relative;

}


.list li {
    
    height: 48px;
    align-items: 1.5px;
    padding: 10px 70px;
}
.list a{
    color:aliceblue;
}
.list i{
    font-size: 10px;
}

.dropdown_menu {
    display: none;
    position: absolute;
    background:white;
    width: 100%;
    height: 380px;
    top: 48px;
    left: 0px;  
    /* border: 1px solid rgb(124, 124, 124); */
    box-shadow:  0 0 10px #4c4b6c;
    z-index: 2;

}

.hover_menu li:hover .dropdown_menu {
    display: block;
    
}

.dropdown_menu li{
    border:none;
    margin: 20px 5px;
}

.dropdown_menu ul {
    height: 100%;
    padding: 0;
    text-align: left;
    margin-top: 10px;
    font-size: 17px;
}

.dropdown_menu a{
    color:#4b4b4b;
    text-align: center;
}

.img100 img{
    width: 100px;
}

.dropdown_menu a:hover {
    color:#0ab313;
    text-decoration:underline;
}



/*   main меню */

.banner img{
    margin-top: 30px;
    width: 100%;
}

.benefits {
    margin-top: 60px;
}

/* .benefits li{
    width: 342px;
    height: 125px;
} */


.benefits li:hover {
    box-shadow:  0 0 10px #4c4b6c;
    border-left: 5px solid #2abf01;

}

.benefits i{
    font-size: 40px;
    margin: 35px 17px 0 23px;
    color:#2abf01;
}

.benefits span{
    margin: 35px 36px 35px 15px;
    /* padding: 20px 20px; */
}

.benefits ul{
    width: 100%;
}


.prod_list {
    margin-top: 20px;
}


.prod_list li {
    padding: 20px 66px;
    margin-right: 26px;
    border: 1px solid #e3dada;
    text-align: center;
    border-radius:10px;
    font-size: 20px;
}

.prod_list li:last-child {
    margin-right: 0;
}

.prod_list li:hover {
    color:#2abf01;
    text-decoration: underline;
}

.size {
    width: 80px;
}

/* Рекомендуем */


.bestseller {
    margin-top: 70px;
    margin-bottom: 40px;
    overflow: hidden;
    /* Выравнивание заголовка по центру, 
    ** можно использовать left, right */
    text-align: center;
    /* Тут можно добавить другие стили для заголовка */
    font-size: 30px;
    color:#ff9900;

}

.bestseller span{
    display: inline-block;
    vertical-align: middle;
    
}

.bestseller:before,
.bestseller:after {
    /* Обязательно указываем пустое свойство content, 
    ** иначе псевдоэлементы не появятся на сайте */
    content: "";
    /* Указываем что наши линии будут строчно-блочные и 
    ** выравнивание по высоте - по центру */
    display: inline-block;
    vertical-align: middle;
    /* Задаем ширину 100% и выбираем высоту линии, 
    ** в нашем примере она равна 4 пикселям */
    width: 100%;
    height: 4px;
    /* Добавляем цвет для линии */
    background-color:#ff9900;
    /* Добавляем пседоэлемантам возможность изменить 
    ** позицию линии, для создания отступов от текста */
    position: relative;
}

.bestseller:before {
    /* Смещаем левую линию на 100% влево, чтобы линия 
    ** встала рядом с текстом слева */
    margin-left: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    left: -14px;
}
.bestseller:after {
    /* Смещаем правую линию на 100% вправо, чтобы 
    ** линия встала рядом с текстом справа */
    margin-right: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    right: -14px;
}

/* Продукты карточки */



.kartochka img {
    width: 200px;
    margin-top: 20px;
  
}

.kartochka li{
    width: 270px;
    text-align: center;
    border:0.5px solid #868688;
    border-radius: 5px;
    margin-right: 35px;
    margin-top: 50px;
    box-shadow:  0 0 10px #868688;
    position: relative;
}


.kartochka li:nth-child(4n) {
    margin-right: 0;
}

/* .list_product > .product:nth-child(4n) {
    margin-right: 0;
} */

.kartochka p {
    font-size: 18px;
    margin: 20px 0 20px 0;
}

.title_main {
    transition: all 0.3s ease;
}

.title_box {
    font-size: 24px;
    font-weight: bold;
}

.title_box2 {
    font-weight: bold;
    color:#4b4b4b;
    margin-left: 5px;
}

.minus {
    margin-right: 5px;
    border:none;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.plus {
    margin-left: 5px;
    border:none;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.box_in {
    margin: 20px 0 20px 0;
    width: 225px;
    height: 40px;
    background: #9c9c9c;
    border:none;
    color:aliceblue;
    font-size: 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.kartochka li:hover {
    box-shadow:  0 0 10px #2abf01;
    border:0.5px solid #2abf01;
}

.kartochka li:hover .box_in {
    background:#2abf01;

}

.kartochka li:hover .title_main {
    color:#2abf01;
}

.kartochka li:hover .quick {
    display: block;
   
   
}

.minus:hover {
    background:#2abf01;
    color: aliceblue;
    border-radius: 5px
}

.plus:hover {
    background:#2abf01;
    color: aliceblue;
    border-radius: 5px;
}

.quick {
    display: none;
    position: absolute;
    top: 15px;
    left: 230px;
    color: #b9b9b8;
    transition: all 0.8s ease;
    
}



.quick i {
    margin-top: 15px;
}

.view:hover {
    color:#2abf01;
}

.view i{
    position: relative;
}

.bookmark {
    display: none;
    font-size: 10px;
    position: absolute;
    top: 32px;
    left: 24px;
    background: rgb(255, 255, 255);
    padding: 3px 5px;
    z-index: 3;
    border:0.5px solid grey;
    color: grey;
}

.view i:hover .bookmark {
    display: block;
}