* {
    box-sizing: border-box;
}

body, p {
    margin: 0;
}

a{
    text-decoration: none;
    cursor:pointer;
}

.right {
    float: right
}
.left {
    float: left;
}
.bold {
    font-weight: bold;
}

.green{
    color:#0ab313;
}

.ul_li, li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.container {
    width:  1200px;
    margin: 0 auto;
}

.verhnee_menu {
    background: #0ab313;
    display: inline-block;
    width: 100%;
    height: 40px;
}
.verhnee_menu i{
    font-size: medium;
}

.b-r li {
    border-left: 1px solid #dadada;
    height: 40px;
}

.b-r1 li {
    border-left: 1px solid #dadada;
    height: 40px;
}



.b-r li:first-child {
    border-left: 0;
}

.time {
    margin-left: 20px;
    
}

.verhnee_menu li {
    padding-top: 8px;
    padding-left: 10px;
    color:aliceblue;
}



/* Центральное меню */
.center_menu .ul_li {
    width: 100%;
}


/* Поисковик */
.search_form {
    display:inline-flex;
    padding: 0px 20px;
    margin-right: 50px;
    margin-top: 46px;
    margin-left: 98px;
    justify-content: space-between;
    align-items:center;
    height: 40px;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
}


.search_form {
    border: 1px solid rgb(231, 133, 22);
    align-items:center;
}
.search_form_txt{
    border: none;
    width: 250px;
    outline: none;
    font-size: 15px;
    padding-right: 10px;
    background-color: white;
    margin-right: 20px;
    margin-top: 0px;
    

}

.search_btn {
    height: 35px;
    width: 40px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.search_btn i{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: white;
    cursor: pointer;
    color:#676594;
}

.logo {
    margin-top: 20px;
}

.info {
    margin: 47px 20px 0 0;
}

.info i {
    padding: 1px 15px;
    font-size: xx-large;
    color:#737573;
}

.icon_msg {
    position: relative;
}

.msg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 39px;
    top: -23px;
    background: red;
    border-radius: 25px;
    text-align: center;
    align-items: center;
}